---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection,render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Prose from "../../components/Prose.astro"

export async function getStaticPaths() {
    const allBlogArticles: CollectionEntry<'blog'>[] = await getCollection('blog');
    return allBlogArticles.map(entry => {
        return({
        params: {
            slug: entry.slug
        },
        props: {entry}
    })});
}

const { entry } = Astro.props
const { Content } = await render(entry);
---

<MainLayout>
    <div class="pb-20">
        <h1 class="heading-test">{entry.data.title}</h1>
        <p>{entry.data.author}</p>
        <Prose>
            <Content/>
        </Prose>
    </div>

</MainLayout>